<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-6">Welcome to the <%=title%> page</h1>
    </div>
  
    <div class="d-flex">
      <div class="p-2 flex-fill">
        <div class="card" style="width: 16rem;">
          <img src="../assets/images/juan.jpg" class="card-img-center" alt="my photo">
          <div class="card-body">
            <h5 class="card-title">Juan Arevalo</h5>
            <p class="card-text">Trouble solver.</p>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill">
        <div class="card">
          <div class="card-header">
            Who I am?
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Aspiring multilingual software developer with extensive project management 
                experience, strong understanding of wear control of Ground engaging tools 
                of shovels such as P&H4100XPC, CAT7495, EX5600, PC7000, and installation 
                of weld lips for these types of equipment. Passionate about building 
                meaningful products, solving problems, and creating value for the company 
                and customers.</p>
              <footer class="blockquote-footer">Innovator / Attentive / Problem solver  <cite title="Source Title">#$@*</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill">
        <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action list-group-item-light text-center">Home</a>
            <a href="/about" class="list-group-item list-group-item-action list-group-item-light text-center">About me</a>
            <a href="projects" class="list-group-item list-group-item-action list-group-item-light text-center">Projects</a>
            <a href="/services" class="list-group-item list-group-item-action list-group-item-light text-center">Services</a>
            <a href="/contact" class="list-group-item list-group-item-action list-group-item-light text-center">Contact me</a>
        </div>
    </div>
    </div>
  </main>




<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>