<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<!-- project.ejs/Juan Arevalo/301323792/02-23-2023 -->
<main class="container py-4 float-sm-start">
    <div class="jumbotron text-between">
      <h1 class="display-7">Welcome to the <%=title%> page</h1>
    </div>
  
    <div class="d-flex py-5">
      <div class="p-2 flex-fill">
        <div class="card" style="width: 18rem;" >
          <div class="card-header">
            Kiruwear App (Mobile App)
          </div>
          <div class="card-body" >
            <blockquote class="roboto mb-0">
              <p>Wear control GET remotely and avoid unplanned downtime for P&H4100XPC cable shovels.</p>
              <footer class="blockquote-footer mb-2">Winner 2021 Digital transformation <cite title="Source Title">-  Cerro verde Mine</cite></footer>
            </blockquote>
              <img src="../assets/images/kiru.png" class="card-img rounded img-fluid mt-3" style="width: 18rem;" alt="my photo">
              <h5 class="my-1 fs-6">Role</h5>
              <p class="text-muted mb-1 fs-6">Manager and creator</p>
              <p class="text-muted mb-1 fs-6">Languages: Flutter, PHP Codeigniter</p>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill">
        <div class="card" style="width: 18rem;" >
          <div class="card-header">
            Recipes (web app)
          </div>
          <div class="card-body" >
            <blockquote class="roboto mb-0">
              <p>Interactive web to share recipes.</p>
              <footer class="blockquote-footer mb-2">First Version <cite title="Source Title">In progress</cite></footer>
            </blockquote>
            <img src="../assets/images/reci.png" class="card-img rounded img-fluid mt-3" style="width: 18rem;" alt="recipe">
            <h5 class="my-1 fs-6">Role</h5>
            <p class="text-muted mb-1 fs-6">Developer</p>
            <p class="text-muted mb-1 fs-6">Languages: Python, Flask, MySQL</p>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill">
        <div class="card" style="width: 18rem;" >
          <div class="card-header">
            Personal Portfolio (Web App)
          </div>
          <div class="card-body" >
            <blockquote class="roboto mb-0">
              <p>Minimalistic personal portfolio.</p>
              <footer class="blockquote-footer mb-2">First Version <cite title="Source Title">- Complete</cite></footer>
            </blockquote>
              <img src="../assets/images/perso.png" class="card-img rounded img-fluid mt-3" style="width: 18rem;" alt="Personal Portfolio">
              <h5 class="my-1 fs-6">Role</h5>
              <p class="text-muted mb-1 fs-6">Developer</p>
              <p class="text-muted mb-1 fs-6">Languages: JavaScript - NodeJS - ExpressJS and Express Generator</p>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill">
        <div class="list-group"style="width: 11rem;">
            <a href="/" class="list-group-item list-group-item-action list-group-item-light text-center">Home</a>
            <a href="/about" class="list-group-item list-group-item-action list-group-item-light text-center">About me</a>
            <a href="projects" class="list-group-item list-group-item-action list-group-item-light text-center">Projects</a>
            <a href="/services" class="list-group-item list-group-item-action list-group-item-light text-center">Services</a>
            <a href="/contact" class="list-group-item list-group-item-action list-group-item-light text-center">Contact me</a>
        </div>
    </div>
    </div>
  </main>




<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>