<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<!-- services.ejs/Juan Arevalo/301323792/02-23-2023 -->
        <main class="container py-4">
            <div class="jumbotron text-between">
                <h1 class="display-7">Welcome to the <%=title%> page</h1>
            </div>
            <div class="container bootstrap snippets bootdey py-5">
            <section id="services" class="current">
                <div class="services-top">
                    <div class="container bootstrap snippets bootdey">
                        <div class="row text-center py-3">
                            <div class="col-sm-12 col-md-12 col-md-12">
                                <h2>What I Offer</h2>
                                <p>My <span class="highlight">focused</span> and <span class="highlight">committed efforts</span> to achieving my best in the most efficient and effective way possible.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                                <div class="services-list">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-md-4">
                                            <div class="service-block" style="visibility: visible;">
                                                <div class="ico fa fa-magic highlight fa-xl"></div>
                                                <div class="text-block">
                                                    <div class="name fw-bold py-2">Web Design</div>
                                                    <div class="info fst-italic">Beauty and function</div>
                                                    <div class="text fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-md-4">
                                            <div class="service-block" style="visibility: visible;">
                                                <div class="ico fa fa-code highlight fa-xl"></div>
                                                <div class="text-block">
                                                    <div class="name fw-bold py-2">Development/Coding</div>
                                                    <div class="info fst-italic">Quality code that lasts</div>
                                                    <div class="text fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-md-4">
                                            <div class="service-block" style="visibility: visible;">
                                                <div class="ico fa fa-pencil highlight fa-xl"></div>
                                                <div class="text-block">
                                                    <div class="name fw-bold py-2">Copy Writing</div>
                                                    <div class="info fst-italic">Words that tell your story</div>
                                                    <div class="text fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>                    
        </main>




        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>